<article class="movie">
  <Movies::Image 
    src={{@movies.image}}
    alt="A picture of {{@movies.title}}"
    />
  <div class="details">
    <h3>{{@movies.title}}</h3>
    <div class="detail name">
      <span>Name:</span> {{@movies.owner}}
    </div>
    <div class="detail genre">
      <span>Genre:</span> {{@movies.type}}
    </div>
    <div class="detail release-date">
      <span>Release Date:</span> {{@movies.city}}
    </div>
    <div class="detail language">
      <span>Language:</span> {{@movies.bedrooms}}
    </div>
  </div>
  <Movieimg 
    @lat={{@movies.location.lat}}
    @lng={{@movies.location.lng}}
    @zoom="9"
    @width="150"
    @height="150"
    alt="A map of {{@movies.title}}"
    />
</article>