<article class="movie">
  <Movies::Image 
    src="https://image.tmdb.org/t/p/w500{{@movies.poster_path}}"
    alt="A picture of {{@movies.original_title}}"
    />
  <div class="details">
    <h3>{{@movies.title}}</h3>
    <div class="detail genre">
      <span>Overview:</span> {{@movies.overview}}
    </div>
    <div class="detail genre">
      <span>Genre:</span> {{@movies.genre_ids}}
    </div>
    <div class="detail release-date">
      <span>Release Date:</span> {{@movies.release_date}}
    </div>
    <div class="detail language">
      <span>Language:</span> {{@movies.original_language}}
    </div>
  </div>
</article>