<Jumbo>
  <h2>{{@movie.title}}</h2>
  <p>This page contains the overview about the movie <b>{{@movie.title}}</b></p>
  <a href="" target="_blank" rel="external nofollow noopener noreferrer" class="share button">
    Share on Twitter
  </a>
  <LinkTo @route="index" class="button">Back to Home</LinkTo>
</Jumbo>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <Movies::Image src="https://image.tmdb.org/t/p/w500{{@movie.poster_path}}"
                alt="A picture of {{@movie.original_title}}" />
            </div>
            <div class="col-md-7">
              <div class="movie-info">
                <h3>              
                    {{@movie.title}}
                </h3>
                <div class="card-text">
                  <span><b>Overview:</b></span> {{@movie.overview}}
                </div>
                <div class="card-text">
                  <span><b>Popularity:</b></span> {{@movie.popularity}}
                </div>
                <div class="card-text">
                  <span><b>Release Date:</b></span> {{@movie.release_date}}
                </div>
                <div class="card-text">
                  <span><b>Language:</b></span> {{@movie.original_language}}
                </div>
                <div class="card-text">
                  <span><b>Genre:</b></span> {{@movie.data.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>