<Jumbo>
  <h2 {{fade-up delay=50}}>Welcome to Movies Test API!</h2>
  <p {{fade-up delay=100}}>This is just a test of Emberjs Framework</p>
  <LinkTo @route="contact" class="button" {{fade-up delay=200}}>Contact Us</LinkTo>
  <LinkTo @route="index" class="button" {{fade-up delay=300}}>Home</LinkTo>
</Jumbo>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{#each @model as |movies|}}
      <Movies @movies={{movies}} />
      {{/each}}
    </div>
  </div>
</div>